@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #282d3c;
  --foreground: #ffffff;
  --lightblue: #9badb7;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
